requests==2.32.3
python-dotenv==1.0.1
pandas==2.2.2
click==8.1.7
pytest==8.2.0

# automation frameworks
nornir==3.4.0
nornir-netmiko==1.0.0

# multivendor abstraction
napalm>=5,<6
nornir-napalm==0.5.0
